---
    import Technologies from "./Technologies.astro";
    import Hobbies from "./Hobbies.astro";
---

<div class="left-side">
    <Technologies />
    <Hobbies />
</div>

<style lang="scss">
    .left-side {
        max-width: 415.025px;
        display: grid;
        row-gap: 42px;
    }
</style>