---
import BlogShort from "./BlogShort.astro";
import Experience from "./Experience.astro";
---

<div class="right-side">
    <BlogShort />
    <Experience />
</div>

<style lang="scss" scoped>
    .right-side {
        display: flex;
        flex-direction: column;
        gap: 42px;
        max-width: 496px;
    }
</style>
