---
import BlogShort from "./BlogShort.astro";
import Experience from "./Experience.astro";
---

<div class="right-side">
    <BlogShort />
    <Experience />
</div>

<style lang="scss" scoped>

    @import "../../../vars.scss";

    .right-side {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;

        @include desktop{
            gap: unset;
            max-width: 596px;
        }

    }
</style>
